.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
backend/**
__mocks__/**
.KODRA/**
.continue/**
.github/**
core/**

# Ignore everything in webview except the compiled dist folder
webview/node_modules/**
webview/src/**
webview/public/**
webview/*.ts
webview/*.json
webview/*.html

.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
Testing-enviroment/
continue_rag_architecture.md
